*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background: rgb(239, 236, 236);
}
.main-screen{
    width: 100%;
    height: 75vh;
    background: #0e1322;
}
.footer{
    height: 16vh;
    display: flex;
    display: flex; 
    justify-content: center;
    align-items: center;
    background: #0e162e;
    gap: 1rem;
}
.footer i {
    color:  white;
    font-size: 1.6rem;
    font-weight: 500;
}
i{
    color: aliceblue;
    cursor: pointer;
}


.users{
    position: relative;
    display: flex;
    flex-wrap:wrap;
    height:100%;
    grid-gap: 5px;
    padding: 5px;
    justify-content: center;
    
}
.user{
    min-height: 200px;
    border-radius: 5px;
    position: relative;
    border-radius: 10px;
    background: black;
    flex: 25%;
    max-width: 50%;
    max-height: 50%;
}
.card{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    

}
.uil{
    color: crimson;
    font-size: 1.6rem;
}
.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pic-user{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgb(255, 227, 47);
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 900;
    color: #3c4043;
}

.muted{
    position: absolute;
    top: 13px;
    right: 13px;
    color: white;
    font-size: 1.3rem;
    
}
.uil-microphone{
      display: none;  
}
.uil-video{
    display: none;  
}

.name{
    position: absolute;
    left: 13px;
    bottom: 13px;
    color: white;
    font-size: 1.3rem;
}
#calender{
    display: flex;
    justify-content: space-around;
    height: 4rem;
    background: #0e162e;
}
#LinkBox{
    min-width: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
#link{
    height: 70%;
    min-width: 300px;
    background-color: azure;
    border: none;
    outline: none;
    padding: 10px;
}
#timer{
    width: 120px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
#copy{
    color: white;
    cursor: pointer;
}
#fullscreen{
    position: absolute;
    bottom: 13px;
    right: 13px;
    
}
#fullscreen i{
    color: rgba(239, 237, 232, 0.598);
}